#kicsi{
    font-size: smaller;
}

body{
    background-color: #e62a7f;
    text-align: justify;
}

#vers{
    font-style: italic;
    
}

ul{
    list-style-image: url(teaa.png);
} 
body{
    text-align: justify;
    padding: 50px;
    background-color: rgba(243, 224, 209);
}
p{
    padding: 5px;
    margin: 10px;
}

img{
    float: right;
    border-radius: 10px;
    height: auto;
    margin: 20px;
}

.balra
{
    float: left;
    transform: scaleX(-1);
}
#kisebb{
    max-width: 300px;
}
span{
    font-weight: bold;
    text-transform: uppercase;
}
h1{
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 0 0 3px #ff0000;
    padding: 60px;
}
h2{
    text-shadow: 0 0 3px #df980a
}
#kozep{
    text-align: center;
}